
# Enable authentication
ENABLE_AUTH={{ jitsi.enable_authentication }}

# Select authentication type: internal, jwt or ldap
AUTH_TYPE={{ jitsi.auth_type }}

# Internal XMPP domain
XMPP_DOMAIN=meet.jitsi

# Internal XMPP domain for authenticated services
XMPP_AUTH_DOMAIN=auth.meet.jitsi

# XMPP domain for the MUC
XMPP_MUC_DOMAIN=muc.meet.jitsi

# XMPP domain for the internal MUC used for jibri, jigasi and jvb pools
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi

# Internal XMPP server
XMPP_SERVER=xmpp.meet.jitsi

# XMPP component password for Jicofo
JICOFO_COMPONENT_SECRET={{ jitsi_jicofo_component_secret }}

# XMPP user for Jicofo client connections.
# NOTE: this option doesn't currently work due to a bug
JICOFO_AUTH_USER=focus

# XMPP password for Jicofo client connections
JICOFO_AUTH_PASSWORD={{ jitsi_jicofo_auth_password }}

# Base URL of Jicofo's reservation REST API
#JICOFO_RESERVATION_REST_BASE_URL=https://reservation.{{ top_level_domain }}

# MUC for the JVB pool
JVB_BREWERY_MUC=jvbbrewery

# MUC name for the Jigasi pool
JIGASI_BREWERY_MUC=jigasibrewery

# SIP URI for incoming / outgoing calls
# JIGASI_SIP_URI=test@sip2sip.info

# MUC name for the Jibri pool
JIBRI_BREWERY_MUC=jibribrewery

# MUC connection timeout
JIBRI_PENDING_TIMEOUT=90

# System time zone
TZ={{ jitsi.time_zone }}
