# defaultEntryPoints = ["http", "https"]

[global]
  checkNewVersion = true
  sendAnonymousUsage = true

{% if traefik.enable_accesslog %}
[accessLog]
{% endif %}

[entryPoints]
  [entryPoints.web]
    address = ":{{ traefik.port.http }}"
  [entryPoints.websecure]
    address = ":{{ traefik.port.https }}"
  [entryPoints.video]
    address = ":{{ traefik.port.udp.video }}/udp"

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    watch = true
    exposedbydefault = false
    network = "{{ public_network }}"
    swarmMode = false

[api]
  Dashboard = true
  debug = true
  insecure=true

[certificatesResolvers.le.acme]
  email = "{{ letsencrypt_email }}"
  storage = "acme.json"
  dnsChallenge = true

[certificatesResolvers.le.acme.dnschallenge]
  provider = "{{ letsencrypt_provider }}"

[certificatesResolvers.le.acme.httpChallenge]
  entryPoint = "web"


[log]
  level = "{{ traefik.log_level }}"

[accessLog]

[ping]
